[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markovify = "*"
pylint = "*"
flask-wtf = "*"
quart = "*"
"autopep8" = "*"
pronouncing = "*"

[dev-packages]

[requires]
python_version = "3.7"
