.jumbotron {
  text-align: center;
  background-color: #E54963;
  padding: 100px;
  border-bottom-style: solid;
  border-color: black;
}

#title {
  font-family: "Allerta";
}

.cointainer {
  position: relative;;
  text-align: center;
}

.box {
  text-align: center;
  margin: auto;
  width: 400px;
  height: 300px;
}

.signin {
  margin: auto;
  padding-top: 40px;
}

.btn_box {
  text-align: center;
  padding-top: 20px;
}

.btn {
  margin: auto;
  font-weight: bold;
  width: 150px;
}

#name_field {
  margin: auto;
  width: 380px;
  height: 34px;
  border: 2px solid #E54963;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

#result_text {
  color: black;
  font-family: Allerta;
  font-size: 200%;
}

.credit {
  position: fixed;
  bottom: 0px;
  right: 25px;
}

.song_container {
    position:relative;
    margin: 0 auto;
    padding-bottom: 25px;
    display:none;
}

.song_name {
  padding-bottom: 5px;
}

.artist_name {
  font-style: italic;
  padding-bottom: 15px;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
