<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lyrical Song Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon-quaver.png') }}" type="image/x-icon" />

    <!-- Facebook Share Tags -->
    <meta property="og:title"         content="Lyrical" />
    <meta property="og:description"   content="The Pop Lyric Generator. Enter your name and see your next number one hit!" />
    <meta property="og:url"           content="http://lyrical.im/" />
    <meta property="og:image"         content="http://lyrical.im/static/favicon-quaver.png" />
    <meta property="og:type"          content="website" />

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92343095-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans" />

    <!-- Generic Javascript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript">
      $(function() {
        $('form[id="signin"]').submit(function(e) {
          var username = $('form[id="signin"] input[id="name_field"]').val();
          if ( username == '') {
            e.preventDefault();
            $("#error").text('\u00A0\u00A0Please enter your name!');
            $(".error").toggleClass("error-change");}
          });
      })
    </script>
  </head>

  <body class="main">
    <header>
      <div class="title-div">
        <h1 style="font-size:550%">Lyrical</h1>
      </div>
    </header>

    <div class="main-content">
      <main class="form-content">
        <div class="form-container clearfix">
          <form id="signin" class="signin" action="" method='post'>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <label for="#name_field" class="sr-only">Enter your name</label>
            {{ form.artistName(id="name_field", placeholder=" Enter your name", autocomplete="off") }}
            <div id="error" class="error"></div>
            <div class="btn-box">
              {{ form.submit(class_="btn btn-warning") }}
            </div>
          </form>
        </div>
      </main>
      <nav class="col-left"></nav>
      <aside class="sidebar">
        <div class="info">
          <p>
            <span class="webname" style="color:red; font-size:130%">Lyrical</span> is a pop lyric generator. &#160 &#x1F3A4 &#x1F3A4 &#x1F3A4
            </br> </br> Want to see your next number one hit? </br>
            Enter your popstar name and find out!
          </p>
        </div>
      </aside>
    </div>

    <footer>
      <div class="credits">
        <p>
          By <a href="mailto:ggordonhall@gmail.com">Gabriel Gordon-Hall</a>
        </p>
      </div>
    </footer>
  </body>
</html>
