<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lyrical Song Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon-quaver.png') }}" type="image/x-icon" />

    <!-- Facebook Share Tags -->
    <meta property="fb:app_id"        content="1916547021911737" />
    <meta property="og:title"         content="Lyrical" />
    <meta property="og:description"   content="The Pop Lyric Generator. Enter your name and see your next number one hit!" />
    <meta property="og:url"           content="http://lyrical.im/" />
    <meta property="og:image"         content="http://lyrical.im/static/favicon-quaver.png" />
    <meta property="og:type"          content="website" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/result.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans" />

    <!-- Generic Javascript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript">
      $( document ).ready(function() {
        setTimeout(function(){
          $("#tout").fadeOut();
        }, 2800);
        setTimeout(function(){
          $(".hidden").css("display", "block");
          $(".lyrics-container").fadeIn();
          $(".share-content").fadeIn();
          $(".credits").fadeIn();
          FB.XFBML.parse();
        }, 3300);
      });
    </script>

  </head>
  <body class="main">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header class="header">
      <div class="title-div">
        <a id="title_text" href="{{ url_for('login') }}">Lyrical</a>
      </div>
    </header>

    <div class="main-content">
      <main class="content">
        <div id="tout">
          <div>
            <div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="lyrics-container">
          <h1 class="song-name">{{ song_name }}</h1>
          <h4 class="artist-name">By {{ username }}</h4>
          <div class="lyrics">
            {% for line in lyrics %}
            <div>{{ line }}<br /></div>
            {% endfor %}
          </div>
        </div>
      </main>
      <nav class="col-left"></nav>
      <aside class="sidebar">
        <div class="share-content clearfix">
          <p id="share_text">
            Share this page! &#x1F631
          </p>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon_link" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
        </div>
      </aside>
    </div>

    <footer>
      <div class="credits">
        <p>
          By <a href="mailto:ggordonhall@gmail.com">Gabriel Gordon-Hall</a>
        </p>
      </div>
    </footer>
  </body>
</html>
