/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Base */

html, body {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
  }

/* Header */

.header {
    display: block;
    min-height: 10%;
    margin: 4px;
    padding: 5px;
    text-align: left;
  }

.title-div {
    width: 30%;
    text-align: center;
    border-bottom: 3px solid red;
  }

#title_text {
    color: inherit;
    font-size: 530%;
    cursor: pointer;
  }

/* Footer */

footer {
		font-style: italic;
		margin-top: 5%;
		margin-left: 3%;
  }

.credits {
		display: none;
	}

/* Main Layout */

.main {
		display: -webkit-flex;
    display: flex;
    min-height: 100vh;
		-webkit-flex-direction: column;
		flex-direction: column;
  }

.main-content {
		display: -webkit-flex;
    display: flex;
		-webkit-flex: 1;
		flex: 1;
  }

.content {
		-webkit-flex: 1;
		flex: 1;
    text-align: center;
  }

.col-left {
		-webkit-flex: 0 6;
		flex: 0 6;
  }

.sidebar {
		-webkit-flex: 0 0 10%;
		flex: 0 0 10%;
    display: block;
		padding: 5px;
  }

.col-left {
		-webkit-order: -1;
		order: -1;
  }

.main,
.main-content {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
  }

/* Lyric Content */

.lyrics-container {
    display: none;
		margin: 8px;
		padding: 10px;
  }

.song-name {
		font-size: 300%;
		padding-bottom: 8px;
	}

.artist-name {
		font-style: italic;
		padding-bottom: 25px;
	}

.lyrics {
		font-size: 100%;
	}

/* Sidebar */

.share-content {
		display: none;
	}

.clearfix:after {
	  content: ".";
	  visibility: hidden;
	  display: block;
	  height: 0;
	  clear: both;
	}

#share_text {
		display: inline-block;
		float: left;
		margin-left: 2%;
		margin-top: 3%;
		font-size: 200%;
		font-weight: bold;
	}

.fb-share-button {
	  display: inline-block;
		float: right;
		margin-right: 20%;
	  padding: 2px;
	  border-bottom: 1px solid red;

		transform: scale(2);
	  -ms-transform: scale(2);
	  -webkit-transform: scale(2);
	  -o-transform: scale(2);
	  -moz-transform: scale(2);
	  transform-origin: top left;
	  -ms-transform-origin: top left;
	  -webkit-transform-origin: top left;
	  -moz-transform-origin: top left;
	  -webkit-transform-origin: top left;
	}

/* Resize */

@media (min-width: 768px) {
  .main-content {
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex: 1;
		flex: 1;
  }
  .lyrics-container {
		-webkit-flex: 1;
		flex: 1;
  }
	.lyrics-container {
		margin-left: 23%;
	}
  .col-left {
		-webkit-flex: 0 0 12em;
		flex: 0 0 12em;
  }
  .sidebar {
		-webkit-flex: 0 0 24em;
    flex: 0 0 24em;
    position: relative;
  }
  .share-content {
    position: absolute;
    bottom: 8%;
    width: 100%;
		text-align: left;
  }
	#share_text {
		clear: both;
		display: block;
		font-size: 240%;
	}
	.fb-share-button {
		clear: both;
		margin: none;
		margin-top: 2%;
		margin-left: 1%;
		display: block;
		float: left;
	  padding: 2px;

		transform: scale(2.4);
		-ms-transform: scale(2.4);
		-webkit-transform: scale(2.4);
		-o-transform: scale(2.4);
		-moz-transform: scale(2.4);
		transform-origin: top left;
		-ms-transform-origin: top left;
		-webkit-transform-origin: top left;
		-moz-transform-origin: top left;
		-webkit-transform-origin: top left;
	}
	footer {
		/*margin-top: 5px;
		margin-left: auto;*/
		display: inline-block;
	}
	.credits {
		/*width: 22em;
		text-align: left;
		padding-bottom: 10px;*/
		float: right;
		margin-right: 1%;
	}
}

/* Load Screen */

#tout:first-child div {
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

#tout:first-child>div>div {
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
  }

#tout:first-child div div div {
    width: 110px;
    height: 110px;
    margin: auto;
    top: 360px;
    background-color: #333;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    border: none;
    animation-name: anim, color;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }

@keyframes anim{

    100% { top:0 }
  }
