/* Base */

body {
    margin: 0px auto;
    font-family: 'Fira Sans', sans-serif;
  }

/* Header */

.header {
    display: block;
    margin-left: 35px;
    padding: 0;
    min-height: 10px;
    text-align: center;
  }

.title-div {
    text-align: center;
    width: 30%;
    border-bottom: 3px solid red;
  }

#title_text {
    font-size: 450%;
    cursor: pointer;
    color: inherit;
  }

/* Main */

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
  }

.container > .main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;

    -webkit-flex: 6 1 60%;
    flex: 6 1 60%;
    -webkit-order: 1;
    order: 1;
  }

.container > .main > .col-left {
    -webkit-flex: 0 6 20%;
    flex: 0 6 20%;
    -webkit-order: 1;
    order: 1;
  }

.container > .main > .result-container {
    margin: 4px;
    padding: 5px;

    -webkit-flex: 6 1 70%;
    flex: 6 1 70%;
    -webkit-order: 2;
    order: 2;
  }

/* Lyrics */

.lyrics-container {
    display: none;
    text-align: center;
    margin-left: 20%;
  }

.song-name {
    font-size: 300%;
  }

.artist-name {
    font-style: italic;
    padding-bottom: 10px;
  }

/* Sidebar */

.container > .sidebar {
    -webkit-flex: 1 6 22%;
    flex: 1 6 22%;
    -webkit-order: 2;
    order: 2;

    text-align: left;
  }

.share {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
  }

#share_text {
    position: absolute;
    bottom: 10%;
    font-size: 220%;
    font-weight: bold;
  }

.fb-share-button {
    position: absolute;
    bottom: -90%;
    padding: 2px;
    border-bottom: 1px solid red;

    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
  }

/* Footer */

.footer {
    margin: 4px;
    padding: 5px;
    min-height: 5%;
  }

.credits {
    display: none;
    width: 100%;
    text-align: right;
    padding-right: 10%;
    font-size: 120%;
  }

/* Too narrow to support all columns */

@media all and (max-width: 640px) {
    .container {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .container > .main, .container > .sidebar {
      -webkit-order: -1;
      order: -1;
      display: block;
      padding-top: 5%;
    }

    .container > header {
      display: block;
    }

    .container > footer {
      display: block;
    }

    .container > .main {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .main > .col-left, .main > .result-container {
      -webkit-order: 0;
      order: 0;
    }

    .lyrics-container {
      margin-left: 0;
    }

    #share_text {
      position: relative;
      float: left;
      margin-left: 2%;
    }

    .fb-share-button {
      position: relative;
      float: left;
      margin-left: 10%;
    }

    .credits {
      text-align: left;
      font-size: 100%;
      font-style: italic;
    }
}

@media all and (max-width: 568px) {
    footer {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      transform: translateY(100%);
    }

/* Load Screen */

#tout:first-child div {
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

#tout:first-child>div>div {
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
  }

#tout:first-child div div div {
    width: 110px;
    height: 110px;
    margin: auto;
    top: 360px;
    background-color: #333;
    border-radius: 0%;
    border: none;
    animation-name: anim, color;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }

@keyframes anim{

    100% { top:0 }
  }
