<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The above 3 meta tags *must* come first in the head; any other head
    content must come *after* these tags -->
    <meta name="description" content="Song Lyric Generator" />
    <meta name="auth or" content  />

    <title>Lyrical Song Generator</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}" />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Allerta'>

    <!-- Javascript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="jumbo" class="jumbotron">
      <div class="page_header">
        <h1 id="title" class="page_title">Lyrical</h1>
      </div>
    </div>

    <div class="container">
      <div class="box">
        {% block content %}{% endblock %}
      </div>
    </div>

    <address class="credit">
      <h5 style="font-style:italic">By <a href="mailto:ggordonhall@gmail.com">Gabriel Gordon-Hall</a></h5>
    </address>
  </body>
</html>
