{% extends "base.html" %}

{% block content %}

  <form class="signin" action="" method='post' onsubmit="required()">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <label for="#name_field" class="sr-only">Enter your name</label>
    {{ form.artistName(id="name_field", placeholder=" Enter your name", autocomplete="off") }}
    <div id="btn" class="btn_box">
      {{ form.submit(class_="btn btn-warning") }}
    </div>
  </form>

  <script type="text/javascript">
  function required() {
    var empt = document.forms[0].innerHTML;
    if (empt == "") {
      var a = document.createElement('h2');
      a.innerHTML = a.innerHTML + ("Enter your name!");
      a.id = "alert";
      return false; }
    else {
      return true;} }
  </script>

{% endblock %}
